language: python

services:
  - docker

install:
  - docker pull josswhittle/opt-id:env-v3
  - docker run -itd --name env -v $(pwd):/tmp/repo/ josswhittle/opt-id:env-v3
  
script:
  - docker exec env pip install -e /tmp/repo
  - docker exec env python -B -m pytest -p no:cacheprovider /tmp/repo/tests/

after_script:
  - docker stop env
