language: python

services:
  - docker

install:
  - docker pull josswhittle/opt-id:env-v3
  - docker run -itd --name env -e COVERALLS_REPO_TOKEN -v $(pwd):/tmp/repo/ josswhittle/opt-id:env-v3
  
script:
  - docker exec env pip install -e /tmp/repo
  - docker exec env python -m pytest --cov=/tmp/repo/src/optidenvtest /tmp/repo/tests/

after_script:
  - docker exec env coveralls
  - docker stop env
